<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="studentDao" class="com.study.spring.ready.mvc.StudentDaoImpl"></bean>
    <bean id="studentService" class="com.study.spring.ready.mvc.StudentServiceImpl">
        <property name="studentDao">
            <ref bean="studentDao"></ref>
        </property>
    </bean>
    <bean id="studentController" class="com.study.spring.ready.mvc.StudentController">
        <property name="studenService" ref="studentService"></property>
    </bean>
</beans>